@page "/"
@using Blazor.QuickWeather.Components

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-md-4">
        <QuickWeatherBasic UpdateIntervalSeconds="180" Source="WeatherDataSource.WeatherApi" IncludeForecast="true" UseSourceIcons="false" />
    </div>
    <div class="col-md-4">
        <QuickWeatherBasic UpdateIntervalSeconds="180" Source="WeatherDataSource.OpenWeatherMap" IncludeForecast="false" UseSourceIcons="false" />
    </div>
    <div class="col-md-4">
        <QuickWeatherSmall UpdateIntervalSeconds="180" Source="WeatherDataSource.WeatherApi" IncludeForecast="true" />
    </div>
</div>