@page "/"
@using Blazor.QuickWeather.Components

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-md-4">
        <QuickWeatherBasic Source="WeatherDataSource.WeatherApi" IncludeForecast="true" UseSourceIcons="false" />
    </div>
    <div class="col-md-4">
        <QuickWeatherBasic Source="WeatherDataSource.OpenWeatherMap" IncludeForecast="true" UseSourceIcons="false" />
    </div>
    <div class="col-md-4">
        <QuickWeatherSmall Source="WeatherDataSource.WeatherApi" IncludeForecast="true" UseSourceIcons="false" />
    </div>
</div>