@page "/"
@using Blazor.QuickWeather.Components

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <QuickWeatherWidget UpdateIntervalSeconds="180" Lon="33.4299" Lat="35.1264" Source="WeatherDataSource.OpenWeatherMap" Forecast="true" />
        </div>
        <div class="col-md-6">
            <QuickWeatherWidget UpdateIntervalSeconds="180" Lon="33.4299" Lat="35.1264" Location="Halifax" Source="WeatherDataSource.WeatherApi" Forecast="true"  />
        </div>
    </div>
</div>